<div>
    <h2>Payment List</h2>
</div>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>PaymentId</th>
            <th>Productname</th>
            <th>PaymentDate</th>
            <th>Amount</th>
            <th>PaymentMethod</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let payment of payment">
            <td>{{payment.paymentId}}</td>
            <td>{{payment.productname}}</td>
            <td>{{payment.paymentDate}}</td>
            <td>{{payment.amount}}</td>
            <td>{{payment.paymentMethod}}</td>
        </tr>
    </tbody>
</table>
